{% extends 'main/base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block content %}
    <div class="features">
        <h1>Главная страница</h1>
        <div xmlns="http://www.w3.org/1999/xhtml">Специалист по информационной безопасности — не самая простая, зато востребованная ИТ-профессия. Она пугает множеством терминов и своеобразных инструментов, хотя на деле доступна людям без технического бэкграунда. Изучив ИБ, вы будете работать с государственными корпорациями, банками, средним и крупным бизнесом, облачными сервисами и стартапами. Проще говоря, везде, где есть вероятность взлома.<br>
<br>
В этой статье подробно рассказываем, кто такой специалист по информационной безопасности, чем он занимается, сколько зарабатывает и как им стать. Бонусом — подборка книг для знакомства с профессией.<br>
<a name="habracut"></a><br>
<h2>Кто такой специалист по ИБ сейчас</h2><br>
Обычно под специалистом по информационной безопасности подразумевают человека, который может внедрить и поддерживать защиту от несанкционированного доступа. Настроить сеть, предусмотреть ошибки и потенциальные баги, развернуть и запустить технологии мониторинга подключений.<br>
<br>
Но есть и более узкие специальности уже внутри сферы:<br>
<br>
<ul>
<li><b>Пентестеры</b> — так называемые «белые», или «этичные» хакеры. Они не взламывают ресурсы бизнеса незаконно. Вместо этого они работают на компании и ищут уязвимости, которые потом исправляют разработчики. Бывает, такие люди трудятся на окладе, или участвуют в программах Bug Bounty — когда бизнес просит проверить их защиту, обещая за найденные баги премию.</li>
<li><b>Специалисты по разработке</b> — такие специалисты участвуют создании приложений и программ. Проще говоря, изучают архитектуру и готовый код и подсказывают, что здесь может быть ошибка или «форточка» для взлома. Банальный пример — оставить в форме ввода сайта возможность отправить SQL-инъекцию.</li>
<li><b>Специалисты по сетям</b> — они ищут возможные потенциальные и известные уязвимости в аппаратных и сетевых комплексах. Проще говоря, знают, как с помощью Windows, Linux или других систем злоумышленник может попасть в ваш компьютер и установить нужное ПО. Могут как найти возможность взлома, так и создать систему, в которую будет сложно попасть.</li>
</ul><br>
Есть ещё один вариант деления специалистов:<br>
<br>
<ul>
<li>Те, кто взламывает, и неважно, что именно, сети или программы. Их специализация — поиск ошибок и уязвимостей, этичный хакинг.</li>
<li>Те, кто строит и поддерживает систему защиты. Именно этот вариант сейчас подразумевают работодатели, когда ищут специалистов по ИБ.</li>
</ul><br>
Такое деление — условное. Например, в небольшом бизнесе по разработке мобильных приложений специалист по ИБ будет заниматься всем циклом, начиная от разработки и заканчивая внедрением. А в крупной облачной корпорации вы можете работать только с Kubernetes, не трогая больше ничего.<br>
<br>
<blockquote>Специалист по информационной безопасности сейчас — этот тот, кто внедряет систему защиты в компанию и поддерживает её от попыток проникнуть извне.</blockquote><br>
Из-за неустоявшихся терминов есть небольшая путаница и в названиях вакансий — компании ищут специалистов по информационной безопасности, администраторов защиты, инженеров безопасности компьютерных сетей и другие названия, подразумевая одного и того же специалиста.<br>
<br>
<h2>Чем занимаются специалисты по информационной безопасности</h2><br>
Главные задачи специалиста по ИБ — <b>настраивать инструменты для защиты и мониторинга, писать скрипты для автоматизации процессов, время от времени проводить пентесты, чувствуя себя хакером. Следить за общими показателями системы и администрировать средства защиты информации.</b><br>
<br>
Вот типичные задачи специалиста по ИБ:<br>
<br>
<ul>
<li>Изучить систему информационной безопасности в компании, разобраться, где есть явные уязвимости.</li>
<li>Посмотреть общую ситуацию, узнать, кто в принципе может заинтересоваться взломом компании.</li>
<li>Составить программу внедрения защиты. Решить, что исправлять сначала — например, настроить протоколы доступа, прописать скрипты защиты, настроить систему генерации паролей.</li>
<li>Разобраться с продуктом — найти уязвимости в коде, составить техническое задание на устранение.</li>
<li>Провести оценку системы защиты — провести согласованные атаки на сетевые ресурсы.</li>
<li>Проанализировать мониторинг — узнать, кто интересовался системой, какими способами, как часто.</li>
<li>Внедрить защиту для особо слабых узлов.</li>
</ul><br>
Плюс сферы ИБ — вы можете проработать несколько лет, но так и не столкнуться с чем-то неизвестным и непонятным. Конечно, точной статистики нет, но обычно все уязвимости и способы взлома известны.<br>
<br>
Условно, порядка 80–90% времени работы занимает защита от уже известных способов взлома. Еще 10% — это что-то новое, что ещё не прописали в методичках и документации.<br>
{% endblock %}